In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [57]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from urllib.parse import quote_plus

df = pd.read_csv('online_retail.csv')
df.info()
df.head(50)
df['CustomerID'] = df['CustomerID'].ffill()
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'],format='%m/%d/%Y %H:%M',errors='coerce')
# Ensure 'Quantity' is numeric, coercing errors to NaN
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')

# Ensure 'UnitPrice' is numeric, coercing errors to NaN
df['UnitPrice'] = pd.to_numeric(df['UnitPrice'], errors='coerce')

# Remove rows where Quantity or UnitPrice are NaN (if needed)
df = df.dropna(subset=['Quantity', 'UnitPrice'])
#checking the Duplicates
df.duplicated()
#data transformation
df['InvoiceNo']=df['InvoiceNo'].astype(str)
df['CustomerID']=df['CustomerID'].astype(int)
df['CostPrice']=df.get('CostPrice',0)
df['ProfitMargin']=(df['UnitPrice']-df['CostPrice'])/df['UnitPrice']*100
df['Total Revenue']=df['Quantity']*df['UnitPrice']
df=df[df['Quantity']>0]
df=df[df['UnitPrice']>0]

#connect sql with python
username='root'
password = quote_plus('root@123')
database='sales_data'
host='localhost'

engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}/{database}')
df.to_sql('sales_data', engine, if_exists='replace', index=False,chunksize=1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        541909 non-null  int64
 1   InvoiceNo    541909 non-null  object
 2   StockCode    541909 non-null  object
 3   Description  540455 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  object
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   406829 non-null  float64
 8   Country      541909 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 37.2+ MB

530104

In [45]:
print("dataframe shape",df.shape)

dataframe shape (530104, 12)

In [51]:
df.head(10)

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CostPrice,ProfitMargin,Total Revenue
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,0,100.0,15.30
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,0,100.0,20.34
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,0,100.0,22.00
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,0,100.0,20.34
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,0,100.0,20.34
5,5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,0,100.0,15.30
6,6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,0,100.0,25.50
7,7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,0,100.0,11.10
8,8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,0,100.0,11.10
9,9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,0,100.0,54.08

In [53]:
df['TotalRevenue']=df['Total Revenue']

In [55]:
df.head()

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CostPrice,ProfitMargin,Total Revenue,TotalRevenue
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,0,100.0,15.30,15.30
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,0,100.0,20.34,20.34
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,0,100.0,22.00,22.00
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,0,100.0,20.34,20.34
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,0,100.0,20.34,20.34

NameError: name 'pd' is not defined

NameError: name 'pd' is not defined

NameError: name 'df' is not defined

NameError: name 'df' is not defined

NameError: name 'df' is not defined

NameError: name 'df' is not defined

NameError: name 'df' is not defined

In [1]:

username='localhost'
password='root@123'
database='sales_data'
host='localhost'

engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}/{database}')
df.to_sql('sales_data', engine, if_exists='replace', index=False)

NameError: name 'df' is not defined

In [75]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-macosx_14_0_arm64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp312-cp312-macosx_14_0_arm64.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 9.4 MB/s eta 0:00:00a 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0
Note: you may need to restart the kernel to use updated packages.